version: '4'
services:
  mysql:
    image: mysql:9.5.0
    container_name: order-service-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: order-service
    volumes:
      - ./data:/data/db